{% extends 'layout.html' %}{% block content %}
<div class="content-section">
<h4>Please enter the full URL here</h4>
  <form method="POST" action="/shorten">
    {{form.hidden_tag()}}
    <!--csrf token-->
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Enter a URL</legend>
      <div class="form-group">
        {{form.url.label(class="form-control-label")}}
        {% if form.url.errors %} 
        {{form.url(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.url.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% else %} 
        {{form.url(class="form-control form-control-lg")}}
         {% endif %}
      </div>

      <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
